*{
    padding: 0px;
    margin: 0px;
}

.navegador{
    background-color: rgba(158, 158, 158, 0.315);
    background-size: cover;
}
.contenedor{
    color: cornflowerblue;
    background-size: contain;
    background-position: bottom;
    background-color: lemonchiffon;
}

.contenedor-texto{
    color: peru;
    text-align: center;
    position: static;
}
.image{
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(img/pz1.jpg);
}
.oferta{
    background-color:grey;
    background-position: center;
    grid-template-columns: auto;
}